/auto
/out-dir
5shuffle.pdf
dseq-basic.pdf
dseq-tuplets.pdf
list_of_figures.txt
more-notes.pdf
note-ganz.pdf
programming_drumpatterns1.pdf
programming_drumpatterns2.pdf
programming_drumpatterns3.pdf
rock2.pdf
rock2_hh_shuffle.pdf
rock2_shuffle3.pdf
rock2times3.pdf
shuffle101.pdf
spacerock2.pdf
swing101.pdf
tempo-example1.pdf
tempo-example2.pdf
tuplets-example1.pdf
two8ths.pdf