.stack-work/
botTshFFC.cabal
*~
Agda2Csound.hi
Agda2Csound.o
Audio.agdai
BottomTsh.agdai
BrazillianSixteen
ClappingMusic
DeanTown
Dilla
Figure10
Figure13
Figure14
Figure15
Figure2
Figure3
Figure4
Figure5
Figure6
Figure7
Figure8
HeyBaby
HitTheRoadDemo
Jeppe
Lemmas.agdai
MAlonzo/
MobDemo
NatList.agdai
Pattern.agdai
Phrasing
Polymorphic/Temporal/Math.agdai
Polymorphic/Temporal/Media.agdai
Rhythm.agdai
Rock1
Shuffle
Songbook/*.agdai
Tiled/Polymorphic/Temporal/Media.agdai
World
