tmp.csd
*~
*.hi
*.o
*.agdai
Songbook/*.agdai
Polymorphic/Temporal/*.agdai
Tiled/Polymorphic/Temporal/*.agdai
BrazillianSixteen
ClappingMusic
DeanTown
Dilla
Figure10
Figure13
Figure14
Figure15
Figure2
Figure3
Figure4
Figure5
Figure6
Figure7
Figure8
HeyBaby
HitTheRoadDemo
Jeppe
MAlonzo/
MobDemo
Phrasing
Rock1
Shuffle
World
